.weather {
  width: 25rem;
  border-radius: 0.4rem;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  opacity: 0.9;
  color: #fff;
  background-color: #333;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0;
  margin-top: 1rem;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  font-style: italic;
}

.weather-icon {
  margin: 0;
  width: 100px;
}

.temperature {
  font-weight: 500;
  font-size: 60px;
  width: 300px;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 1.3rem;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  padding-bottom: 0.2rem;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  padding-bottom: 0.2rem;
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}
